<div class="row">
    <div class="col-12 list-group" id="lista">
        <a href="#" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading
                </h5>
                <button type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>
                    Excluir</button>
            </div>
            <p class="mb-1">Some placeholder content in
                a paragraph.</p>
            <small>And some small print.</small>
        </a>
    </div>
</div>