<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "site/csscadastro.html" %}
    <link rel="sortcut icon" href="{{empresa.icone}}" type="image/x-icon" />
    <title>{{ titulo }}</title>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="{{empresa.icone}}" alt="AdminLTELogo" height="60" width="60">
        </div>
        {% include "site/admin_top_menu.html" %}
        {% include "site/admin_left_menu.html" %}
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Controle de próprio</h1><br>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{{home}}">Início</a></li>
                                <li class="breadcrumb-item"><a href="{{lista}}">Listagem</a></li>
                                <li class="breadcrumb-item active">Controle</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" id="frmproprio" name="frmproprio" enctype='multipart/form-data'>
                <input type="hidden" name="edtid" id="edtid" value="{{proprio.id}}">
                <input type="text" name="edtacao" id="edtacao" value="{{acao}}">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="row m-2">
                                                    <div class="col-12">
                                                        {% include "site/alerta_campos_requeridos.html" %}
                                                    </div>
                                                </div>
                                                <div class="card-header p-2">
                                                    <ul class="nav nav-pills">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" href="#activity" id="tb-activity"
                                                                data-toggle="tab">
                                                                <i class="fas fa-building"> </i> Dados do próprio
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#endereco" id="tb-endereco"
                                                                data-toggle="tab">
                                                                <i class="fas fa-map-marker-alt"> </i> Dados de endereço
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#contato" id="tb-contato"
                                                                data-toggle="tab">
                                                                <i class="fas fa-id-badge"> </i> Dados de contato
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="card-body">
                                                    <div class="tab-content">
                                                        <div class="active tab-pane" id="activity">
                                                            <h3>Dados de próprio</h3>
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="form-group col-lg-4 col-md-4">
                                                                        <label for="cnpj">CPF | CNPJ</label>
                                                                        <input autofocus type="text" name="cnpj"
                                                                            class="form-control" id="cnpj"
                                                                            placeholder="Digite o CPF ou CNPJ da pessoa!"
                                                                            value="{{proprio.cpf_cnpj}}" required>
                                                                    </div>
                                                                    <div class="form-group col-lg-8 col-md-8">
                                                                        <label for="razao_social">SOBRE NOME | RAZÃO
                                                                            SOCIAL</label>
                                                                        <input type="text" name="razao_social"
                                                                            class="form-control" id="razao_social"
                                                                            placeholder="Digite o sobre nome ou razão social!"
                                                                            value="{{proprio.sobrenome_razao}}"
                                                                            required>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-lg-4 col-md-4">
                                                                        <label for="nome_fantasia">NOME | NOME
                                                                            FANTASIA</label>
                                                                        <input type="text" name="nome_fantasia"
                                                                            class="form-control" id="nome_fantasia"
                                                                            placeholder="Digite o nome da pessoa ou empresa!"
                                                                            value="{{proprio.nome_fantasia}}" required>
                                                                    </div>
                                                                    <div class="form-group col-lg-3 col-md-3">
                                                                        <label for="edtrg">RG | IE</label>
                                                                        <input type="text" name="edtrg"
                                                                            class="form-control" id="edtrg"
                                                                            placeholder="Digite o RG ou o IE da pessoa!"
                                                                            value="{{proprio.rg_ie}}" required>
                                                                    </div>
                                                                    <div class="form-group col-lg-3 col-md-3">
                                                                        <label for="data_inicio_atividade">NACIMENTO |
                                                                            FUNDAÇÃO</label>
                                                                        <input type="text" name="data_inicio_atividade"
                                                                            class="form-control"
                                                                            id="data_inicio_atividade"
                                                                            placeholder="Informe o nascimento ou fundação!"
                                                                            value="{{proprio.nascimento_fundacao|date("
                                                                            d/m/Y")}}" required>
                                                                    </div>
                                                                    <div class="col-lg-6 col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for="edtlogo">Selecione o logo da
                                                                                empresa</label>
                                                                            <input data-language="pt-BR"
                                                                                data-allowed-file-extensions='["jpg", "jpeg", "png","ico"]'
                                                                                data-max-file-size="2048KB"
                                                                                data-theme="explorer-fas"
                                                                                data-show-preview="true" {% if
                                                                                empresa.nome_fantasia !='' %}
                                                                                data-initial-preview='["{{ empresa.logo }}"]'
                                                                                data-initial-preview-as-data="true" {%
                                                                                endif %} data-show-remove="true"
                                                                                data-show-upload="false" name="edtlogo"
                                                                                id="edtlogo" type="file" required />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for="edticone">Selecione o icone da
                                                                                empresa</label>
                                                                            <input data-language="pt-BR"
                                                                                data-allowed-file-extensions='["jpg", "jpeg", "png","ico"]'
                                                                                data-max-file-size="2048KB"
                                                                                data-theme="explorer-fas"
                                                                                data-show-preview="true" {% if
                                                                                empresa.nome_fantasia !='' %}
                                                                                data-initial-preview='["{{ empresa.icone }}"]'
                                                                                data-initial-preview-as-data="true" {%
                                                                                endif %} data-show-remove="true"
                                                                                data-show-upload="false" name="edticone"
                                                                                id="edticone" type="file" required />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="endereco">
                                                            <h3>Dados de endereço</h3>
                                                            <div class="class card-body">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-md-2 col-sm-12 mb-3">
                                                                        <label for="cep" class="form-label">CEP
                                                                            *</label>
                                                                        <input required type="text" name="cep" id="cep"
                                                                            class="form-control"
                                                                            placeholder="Digite o CEP do endereço">
                                                                    </div>
                                                                    <div class="col-lg-5 col-md-5 col-sm-12 mb-3">
                                                                        <label for="logradouro"
                                                                            class="form-label">Logradouro * </label>
                                                                        <input required type="text" name="logradouro"
                                                                            id="logradouro" class="form-control"
                                                                            placeholder="Digete o nome do logradouro">
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-2 col-sm-12 mb-3">
                                                                        <label for="numero" class="form-label">Número *
                                                                        </label>
                                                                        <input required type="text" name="numero"
                                                                            id="numero" class="form-control"
                                                                            placeholder="Digite o número do endereço">
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-12 mb-3">
                                                                        <label for="complemento"
                                                                            class="form-label">Complemento</label>
                                                                        <input type="text" name="complemento"
                                                                            id="complemento" class="form-control"
                                                                            placeholder="Digite o complemento">
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-12 mb-3">
                                                                        <label for="bairro" class="form-label">Bairro *
                                                                        </label>
                                                                        <input required type="text" name="bairro"
                                                                            id="bairro" class="form-control"
                                                                            placeholder="Digite o nome do bairro">
                                                                    </div>
                                                                    <div class="col-lg-5 col-md-5 col-sm-12 mb-3">
                                                                        <label for="localidade"
                                                                            class="form-label">Cidade *</label>
                                                                        <input required type="text" name="localidade"
                                                                            id="localidade" class="form-control"
                                                                            placeholder="Digite o nome da Cidade">
                                                                    </div>
                                                                    <div
                                                                        class="form-group col-lg-4 col-md-4 col-sm-12 mb-3">
                                                                        <label for="uf" class="form-label">UF * </label>
                                                                        <select required class="form-control" name="uf"
                                                                            id="uf">
                                                                            <option value="">Selecione</option>
                                                                            <option value="AC">Acre</option>
                                                                            <option value="AL">Alagoas</option>
                                                                            <option value="AP">Amapá</option>
                                                                            <option value="AM">Amazonas</option>
                                                                            <option value="BA">Bahia</option>
                                                                            <option value="CE">Ceará</option>
                                                                            <option value="DF">Distrito Federal</option>
                                                                            <option value="ES">Espirito Santo</option>
                                                                            <option value="GO">Goiás</option>
                                                                            <option value="MA">Maranhão</option>
                                                                            <option value="MS">Mato Grosso do Sul
                                                                            </option>
                                                                            <option value="MT">Mato Grosso</option>
                                                                            <option value="MG">Minas Gerais</option>
                                                                            <option value="PA">Pará</option>
                                                                            <option value="PB">Paraíba</option>
                                                                            <option value="PR">Paraná</option>
                                                                            <option value="PE">Pernambuco</option>
                                                                            <option value="PI">Piauí</option>
                                                                            <option value="RJ">Rio de Janeiro</option>
                                                                            <option value="RN">Rio Grande do Norte
                                                                            </option>
                                                                            <option value="RS">Rio Grande do Sul
                                                                            </option>
                                                                            <option value="RO">Rondônia</option>
                                                                            <option value="RR">Roraima</option>
                                                                            <option value="SC">Santa Catarina</option>
                                                                            <option value="SP">São Paulo</option>
                                                                            <option value="SE">Sergipe</option>
                                                                            <option value="TO">Tocantins</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-12 mb-2">
                                                                        <label for="ibge" class="form-label">IBGE
                                                                            *</label>
                                                                        <input required type="text" name="ibge"
                                                                            id="ibge" class="form-control"
                                                                            placeholder="Digete o número do ibge">
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                                                                        <label for="titulo" class="form-label">Titulo
                                                                            *</label>
                                                                        <input required type="text" name="titulo"
                                                                            id="titulo" class="form-control"
                                                                            placeholder="Digite um título para o endereço">
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <button id="btnendereco" name="btnendereco"
                                                                        type="button" class="btn btn-success mb-1">
                                                                        <i class="fas fa-plus"></i> Adicionar</button>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-12 list-group" id="lista">
                                                                        <div
                                                                            class="list-group-item list-group-item-action active">
                                                                            <div
                                                                                class="d-flex w-100 justify-content-between">
                                                                                <h5 class="mb-1">TITULO</h5>
                                                                                <button type="button"
                                                                                    class="btn btn-sm btn-danger"><i
                                                                                        class="fas fa-trash"></i>
                                                                                    Excluir</button>
                                                                            </div>
                                                                            <p class="mb-1">Some placeholder content in
                                                                                a paragraph.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="tab-pane" id="contato">
                                                            <h3>Dados de contato</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="btn-group">
                                            <a href="{{lista}}" class="btn btn-warning">
                                                <i class="fas fa-chevron-left"> </i> Voltar
                                            </a>
                                            <button id="btn-salvar" name="btn-salvar" type="button"
                                                class="btn btn-success">
                                                <i class="fas fa-save"> </i> Salvar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </form>
        </div>
        {% include "site/footer.html" %}
    </div>
    {% include "site/scriptcadastro.html" %}
    <script src="/js/proprio.js"></script>
    <script src="/js/alerta.js"></script>
</body>

</html>