{% extends "site/admin_master_listagem.html" %}

{% block master_listagem %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Controle de próprio</h1><br>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{home}}">Início</a></li>
                    <li class="breadcrumb-item"><a href="{{lista}}">Listagem</a></li>
                    <li class="breadcrumb-item active">Controle</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="btn-group">
                            <a href="{{lista}}" type="button" class="btn btn-warning">
                                <i class="fas fa-chevron-left"> </i> Voltar
                            </a>
                            <a href="{{cadastro}}" type="button" class="btn btn-success">
                                <i class="fas fa-plus"> </i> Cadastrar
                            </a>
                        </div>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}